<div class="site-header">
    <div class="content">
        <!--nav class="site-nav">
            {% for page in site.pages %}
              {% if page.title %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              {% endif %}
            {% endfor %}
        </nav-->
        <div class="col-2">
            <a href="{{ site.url }}"><img class="logo" src="/ms-logo.png" /></a>   
        </div>
        <div class="col-2">
            <div class="start-new-button">
                <a target="_blank" href="http://appstudio.windows.com">Start new project</a>
            </div>
        </div>
    </div>
</div>
